<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-gradient bg-warning text-white ">
                <div class="row">
                    <div class="col-11  fs-3 text-white>
                        <box-icon name="dining" color="white" size="sm" animation="tada"></box-icon>Producers
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tblProducer" class="table table-hovered table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>

@* MODAL *@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center">
                <img id="imgPreview" src="" class="img-thumbnail d-none" style="width: 200px; height: 200px;" />
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label class="form-label">Profile Picture:</label>
                    <input type="text" id="txtprofilePictureURL" placeholder="Enter it in URL form" class="form-control" required />
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Producer Name:</label>
                    <input type="text" id="txtProducerName" placeholder="" class="form-control" required />
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Biography:</label>
                    <input type="text" id="txtbio" placeholder="" class="form-control" required />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">+Add</button>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; right:50px; bottom: 25px;" class="text-white">
    <a id="btnAdd" href="#" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>

</div>

@section Scripts {
    <script>
        var DataTable = "";

        $(document).ready(() => {

                $("#txtprofilePictureURL").on("input", function() {
            var url = $(this).val();
            if (url) {
                $("#imgPreview").attr("src", url).removeClass("d-none");
            } else {
                $("#imgPreview").addClass("d-none");
            }
        });

        DataTable = $("#tblProducer").DataTable({
                ajax: '/Producer/GetAll',
                columns: [
                    { data: 'profilePictureURL', title: 'Profile Picture', "render": function(data) {
                    return `<img src="${data}" class="img-thumbnail" style="width: 200px; height: 200px;" />`;
                }},
                    { data: 'fullName', title: 'Name' },
                    { data: 'bio', title: 'Biography' },
                    {
                        data: 'id', title: 'Actions', render: (data) => {
                            return `
                    <a class="btn btn-outline-primary" onclick="updateProducer(${data}, this)" title="Edit" href="#">
                        <i class="bi bi-pencil-square"></i>Edit</a>
                     <a class="btn btn-outline-warning" onclick="detailProducer(${data}, this)" title="Details" href="#">
                        <i class="bi bi-eye" font-size: 1.2em;"></i>Details</a>
                    <a class="btn btn-outline-danger text-red" onclick="deleteProducer(${data}, this)" title="Delete" href="#">
                        <i class="bi bi-trash"  font-size: 1.2em;"></i>Delete</a>`;
                        }
                    }
                ]
            });

            $("#btnAdd").click(() => {
                $("#modal").modal("show");
                $("#btnSave").text("+Add");
                $("#modalTitle").text("Add New Producer");
                $("#imgPreview").addClass("d-none");
                $("#txtprofilePictureURL").val('');
                $("#txtProducerName").val('');
                $("#txtbio").val('');

                $("#btnSave").off().click(() => {
                $.ajax({
                url:'/Producer/Add',
                type: 'POST',
                data: {
                   profilePictureURL: $("#txtprofilePictureURL").val(),
                   fullName: $("#txtProducerName").val(),
                   bio: $("#txtbio").val()
                },
                success: (res) => {
                    $("#modal").modal("hide");
                    DataTable.row.add(res).draw(false);
                }
                });
                });
            });

        });

        function updateProducer(ProducerId, button) {
            $.ajax({
                url: '/Producer/GetById',
                type: 'GET',
                data: { id: ProducerId },
                success: (res) => {
                    $('#modal').modal("show");
                    $('#txtprofilePictureURL').val(res.profilePictureURL);
                    $('#txtProducerName').val(res.fullName);
                    $('#txtbio').val(res.bio);
                    $('#imgPreview').attr('src', res.profilePictureURL).removeClass('d-none');
                    $('#modalTitle').text("Update Producer");
                    $('#btnSave').text("Update").off().click(() => {
                        res.profilePictureURL = $('#txtprofilePictureURL').val();
                        res.fullName = $('#txtProducerName').val();
                        res.bio = $('#txtbio').val();

                        $.ajax({
                            url: '/Producer/Update',
                            type: 'POST',
                            data: res,
                            success: (res) => {
                               let row = $(button).parent().parent();
                               DataTable.row(row).data(res).draw(false);
                               $("#modal").modal("hide");
                        }
                        });
                    });
                }
            });
        }



        function deleteProducer(ProducerId, button) {
            if (confirm("Are you sure to delete this Producer?")) {
                $.ajax({
                    url: '/Producer/Delete',
                    type: 'POST',
                    data: { id: ProducerId },
                    success: (res) => {
                        let row = $(button).parent().parent();
                        DataTable.row(row).remove().draw(false);
                    }
                });
            }
        }
    </script>
}