<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-gradient bg-warning text-white ">
                <div class="row">
                    <div class="col-11  fs-3 text-white>
                        <box-icon name="dining" color="white" size="sm" animation="tada"></box-icon>Cinemas
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tblCinema" class="table table-hovered table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>

@* MODAL *@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center">
                <img id="imgPreview" src="" class="img-thumbnail d-none" style="width: 200px; height: 200px;" />
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label class="form-label">Logo:</label>
                    <input type="text" id="txtLogo" placeholder="Enter it in URL form" class="form-control" required />
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Cinema Name:</label>
                    <input type="text" id="txtName" placeholder="" class="form-control" required />
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Description:</label>
                    <input type="text" id="txtDescription" placeholder="" class="form-control" required />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">+Add</button>
            </div>
        </div>
    </div>
</div>

<div style="position: fixed; right:50px; bottom: 25px;" class="text-white">
    <a id="btnAdd" href="#" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>

</div>

@section Scripts{
    <script>
        var DataTable = "";

        $(document).ready(() => {

                $("#txtLogo").on("input", function() {
            var url = $(this).val();
            if (url) {
                $("#imgPreview").attr("src", url).removeClass("d-none");
            } else {
                $("#imgPreview").addClass("d-none");
            }
        });

        DataTable = $("#tblCinema").DataTable({
                ajax: '/Cinema/GetAll',
                columns: [
                    { data: 'logo', title: 'Logo', "render": function(data) {
                    return `<img src="${data}" class="img-thumbnail" style="width: 200px; height: 200px;" />`;
                }},
                    { data: 'name', title: 'Name' },
                    { data: 'description', title: 'Description' },
                    {
                        data: 'id', title: 'Actions', render: (data) => {
                            return `
                    <a class="btn btn-outline-primary" onclick="updateCinema(${data}, this)" title="Edit" href="#">
                        <i class="bi bi-pencil-square"></i>Edit</a>
                     <a class="btn btn-outline-warning" onclick="detailCinema(${data}, this)" title="Details" href="#">
                        <i class="bi bi-eye" font-size: 1.2em;"></i>Details</a>
                    <a class="btn btn-outline-danger text-red" onclick="deleteCinema(${data}, this)" title="Delete" href="#">
                        <i class="bi bi-trash"  font-size: 1.2em;"></i>Delete</a>`;
                        }
                    }
                ]
            });

            $("#btnAdd").click(() => {
                $("#modal").modal("show");
                $("#btnSave").text("+Add");
                $("#modalTitle").text("Add New Cinema");
                $("#imgPreview").addClass("d-none");
                $("#txtLogo").val('');
                $("#txtName").val('');
                $("#txtDescription").val('');

                $("#btnSave").off().click(() => {
                $.ajax({
                url:'/Cinema/Add',
                type: 'POST',
                data: {
                   Logo: $("#txtLogo").val(),
                   Name: $("#txtName").val(),
                   Description: $("#txtDescription").val()
                },
                success: (res) => {
                    $("#modal").modal("hide");
                    DataTable.row.add(res).draw(false);
                }
                });
                });
            });

        });

        function updateCinema(CinemaId, button) {
            $.ajax({
                url: '/Cinema/GetById',
                type: 'GET',
                data: { id: CinemaId },
                success: (res) => {
                    $('#modal').modal("show");
                    $('#txtLogo').val(res.logo);
                    $('#txtName').val(res.name);
                    $('#txtDescription').val(res.Description);
                    $('#imgPreview').attr('src', res.Logo).removeClass('d-none');
                    $('#modalTitle').text("Update Cinema");
                    $('#btnSave').text("Update").off().click(() => {
                        res.Logo = $('#txtLogo').val();
                        res.Name = $('#txtCinemaName').val();
                        res.Description = $('#txtDescription').val();

                        $.ajax({
                            url: '/Cinema/Update',
                            type: 'POST',
                            data: res,
                            success: (res) => {
                               let row = $(button).parent().parent();
                               DataTable.row(row).data(res).draw(false);
                               $("#modal").modal("hide");
                        }
                        });
                    });
                }
            });
        }



        function deleteCinema(CinemaId, button) {
            if (confirm("Are you sure to delete this Cinema?")) {
                $.ajax({
                    url: '/Cinema/Delete',
                    type: 'POST',
                    data: { id: CinemaId },
                    success: (res) => {
                        let row = $(button).parent().parent();
                        DataTable.row(row).remove().draw(false);
                    }
                });
            }
        }


    </script>
}